<div {% if attributes %}{{ attributes.addClass("info-box") }}{% else %} class="info-box"{% endif %}>
  <h3 class="heading-5 info-box__title">
    {% if infobox_link %}<a href="{{ infobox_link }}">{% endif %}
      {{ infobox_title }}
    {% if infobox_link is defined %}</a>{% endif %}
  </h3>
    {% if infobox_text %}
      <p class="info-box__text">
          {% if infobox_link %}<a href="{{ infobox_link }}">{% endif %}
              {{ infobox_text | striptags }}
          {% if infobox_link is defined %}</a>{% endif %}
      </p>
    {% endif %}
    {% if infobox_link %}<a href="{{ infobox_link }}" class="arrow-link info-box__text">➔</a>{% endif %}
</div>
