<div class="card{% if variation %}--{{variation}}{% endif %}">
  {% if title %}<h1 class="card{% if variation %}--{{variation}}{% endif %}__title">{{ title }}</h1>{% endif %}
  {% if body %}<p class="card{% if variation %}--{{variation}}{% endif %}__body">{{ body }}</p>{% endif %}
  {% if button_url %}{% include "@atoms/06-buttons/01-button.twig" %}{% endif %}
</div>
